.branding__logo {
	position: relative;
	display: block;
	width: 3.2em;
	margin: 8px 0 0;
	font-size: 1rem;
	line-height: 1;
}

.branding__logo-link {
	display: block;
}

.branding__logo-icon {
	display: block;
	width: 100%;
	height: auto;
}