.services-blocks {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	align-items: stretch;
}

.services-blocks::after {
	flex: 1 auto;
	content: '';
}

.service-block {
	flex: 0 1 31%;
	border: 1px solid #c7c7c7;
	margin: 20px 1%;
	background: #fff;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.35);
}

.service-block:hover {
	border-color: #ff7600;
}

.service-block__content-wrapper {
	padding: 20px;
}

.service-block__title {
	font-size: 1.8rem;
}

@include bp-medium() {
	.service-block__title {
		font-size: 2rem;
	}
}
