.home-rwd-graphic {
	position: relative;
	margin: 20px 0;
	padding: 0;
	max-width: 240px;
}

.home-rwd-graphic img,
.home-rwd-graphic svg,
.home-rwd-graphic .svg {
	display: block;
	width: 100%;
	height: auto;
}
