$siteWidth: 1200px;

// Breakpoints //
$bp-small: 468px;
$bp-medium: 768px;
$bp-large: 960px;
$bp-xlarge: 1100px;

// Fonts //
$baseFontSize: 1.6rem;
$adjustedFontSize: 62.5%;
$sans-serif: 'Open Sans', Arial, sans-serif;
$headlineFont: Lato, Verdana, sans-serif;
$defaultTextColor: #444;

// Grid //
$columns: 12;
$gutter: 20px;

// Section Related Vars
$sectionPadding: 10vh;
